	<!-- jQuery Version 1.11.0 -->
	<script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>

	<!-- Konami -->
	<script src="{{ "/js/konami.js" | prepend: site.baseurl }}"></script>

	<!-- Auto hide -->
	<script src="{{ "/js/jquery.bootstrap-autohidingnavbar.min.js" | prepend: site.baseurl }}"></script>
	
	<script type="text/javascript">
		function getUrlParameter(sParam) {
	    	var sPageURL = window.location.search.substring(1);
	    	var sURLVariables = sPageURL.split('&');
	    	for (var i = 0; i < sURLVariables.length; i++) {
	        	var sParameterName = sURLVariables[i].split('=');
	        	if (sParameterName[0] == sParam) {
	            	return sParameterName[1];
	        	}
	    	}
		}
	
		if (window.addEventListener) { // Mozilla, Netscape, Firefox
	    	window.addEventListener('load', WindowLoad, false);
		} else if (window.attachEvent) { // IE
	    	window.attachEvent('onload', WindowLoad);
		}

		function WindowLoad(event) {
			var easter_egg = new Konami('https://www.youtube.com/watch?v=dQw4w9WgXcQ');
			
			$(".navbar-fixed-top").autoHidingNavbar({
			  // see next for specifications
			});
			
			// Check if page came back from Simple Forms
			if (getUrlParameter('contact')) {
				// Scroll to contact section
				document.getElementById('contact').scrollIntoView();
				
				// Removes param from address bar
				window.history.pushState("object or string", "Title", "/");
                
				// Success message
                $('#success').html("<div class='alert alert-success'>");
                $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                    .append("</button>");
                $('#success > .alert-success')
                    .append("<strong>Your message has been sent. </strong>");
                $('#success > .alert-success')
                    .append('</div>');
			}
		}
	</script>