<!-- Portfolio Modals -->
{% for post in site.categories.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-body">
            
                <div class="container-fluid">
                    <div class="row">
                        <h3>{{ post.title }}</h3>
                        <h6>{{ post.project-date }}</h6>
                        {% if post.website %}
                            <a href="{{ post.website }}">Website</a>
                        {% endif %}
                    </div>
                
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2">
                            <p>{{ post.content }}</p>
                        </div>
                    
                        <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2">
                            <div class="mySlick">
                                {% for screen in post.screenshots %}
                                    <div><img src="{{ screen }}" alt="Slide" class="slickImage"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default closeButton" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Resume Modal -->
<div class="portfolio-modal modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" id="pdf-container">
        <iframe src="https://drive.google.com/file/d/0BwCC4SktzhMdYnJMU1hibW9QRzA/preview" width="100%" id="pdf"></iframe>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="pdf-close-button"><i class="fa fa-times"></i> Close</button>
    </div>
</div>