<!-- Portfolio Modals -->
{% for post in site.categories.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-body">
            
                <div class="container-fluid">
                    <div class="row">
                        <h3>{{ post.title }}</h3>
                        <h6>{{ post.project-date }}</h6>
                        {% if post.website %}
                            <a href="{{ post.website }}">Website</a>
                        {% endif %}
                    </div>
                
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2">
                            <p>{{ post.content }}</p>
                        </div>
                    
                        <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2">
                            <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">
                            
                                <!-- Indicators -->
                                {% if post.screenshots.size > 1 %}
                                    <ol class="carousel-indicators">
                                    {% for screen in post.screenshots %}
                                        {% assign class = "" %}
                                        {% if forloop.index0 == 0 %}
                                            {% assign class = "active" %}
                                        {% endif %}
                                        <li data-target="#carousel-{{ post.modal-id }}" data-slide-to="{{ forloop.index0 }}" class="{{ class }}"></li>
                                    {% endfor %}
                                    </ol>
                                {% endif %}
                                
                                <!-- Carousel -->
                                <div class="carousel-inner" role="listbox">
                                    {% for screen in post.screenshots %}
                                        {% assign class = "" %}
                                        {% if forloop.index0 == 0 %}
                                            {% assign class = "active" %}
                                        {% endif %}
    
                                        <div class="item {{ class }}">
                                            <img src="{{ screen }}" alt="Slide" class="img-centered">
                                        </div>
                                    {% endfor %}
                                </div>
                              
                                {% if post.screenshots.size > 1 %}
                                    <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                      
                                    <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Resume Modal -->
<div class="portfolio-modal modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" id="pdf-container">
        <iframe src="https://drive.google.com/file/d/0BwCC4SktzhMdYnJMU1hibW9QRzA/preview" width="100%" id="pdf"></iframe>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="pdf-close-button"><i class="fa fa-times"></i> Close</button>
    </div>
</div>