<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Portfolio</h2>
				<hr class="star-primary">
				
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">search terms <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#portfolio" id="mobileLink">mobile</a></li>
									<li class="divider"></li>
									<li><a href="#portfolio" id="gameLink">game</a></li>
									<li class="divider"></li>
									<li><a href="#portfolio" id="webLink">web</a></li>
								</ul>
							</li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="search" class="form-control" placeholder="Search" id="searchBar">
							</div>
						</form>
					</div><!-- /.container-fluid -->
				</nav>
				
			</div>
		</div>
		<div class="row">
			{% for post in site.posts %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
						<div>
							<h4>{{ post.title }}</h4>
						</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>