<!-- Mobile Apps -->
<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Mobile Apps</h2>
                <i class="fa fa-code"></i>
            </div>
        </div>

        <!-- Projects -->
        <div class="row" id="portfolioRow">
            {% for post in site.categories.projects %}
                {% assign divClass = "col-xs-6 col-sm-4 col-md-2 col-lg-2 portfolio-item" %}
                
                {% assign mod = forloop.index0 | modulo:5 %}
                {% if mod == 0 %}
                    {% capture divClass %}
                        {{ divClass }} col-md-offset-2 col-lg-offset-2
                    {% endcapture %}
                {% endif %}
                
                <div class="{{ divClass }}" data-terms="{{ post.title }}{{ post.tags }}">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-hand-o-up fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                    <h4>{{ post.title }}</h4>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
