 <!-- Resume Section -->
<section id="resume">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Résumé</h2>
                <i class="fa fa-code"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#resumeModal" class="btn btn-lg btn-outline" data-toggle="modal">
                    <i class="fa fa-eye"></i> View
                </a>
            </div>
        </div>
    </div>
    
</section>
