.root-header {
    background-color: $color-primary;
    color: $color-secondary;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    a {
        color: inherit;
    }

    .links a {
        padding: 10px;
    }
}