.about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    .welcome-card {
        background-color: $color-primary;
        border: solid 1px $color-primary;
        overflow: hidden;
        border-radius: 6px;
        color: $color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;

        span {
            display: flex;

            &.welcome {
                margin-top: 10px;
                font-size: 30px;
                font-weight: 600;
            }

            &.name {
                width: 100%;
                display: flex;
                justify-content: center;
                background-color: $color-secondary;
                color: $color-primary;
                padding: 20px;
                font-size: 26px;
                margin: 10px 0 15px;
            }
        }
    }

    p {
        margin: 35px 0 10px;
        max-width: 400px;
        line-height: 1.5;
        font-size: 18px;
        text-align: center;
    }

    .social-accounts {
        list-style-type: none;
        padding: 0;
        display: flex;

        a {
            color: $color-primary;
            margin: 10px;
            font-size: 20px;
        }
    }
}