<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link async rel="stylesheet" href="{{ "/styles/main.css" | prepend: site.baseurl }}">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script async src="https://use.fontawesome.com/72df69143e.js"></script>
    </head>
    <body>
        {% include header.html %}
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
        {% include analytics.html %}
    </body>
</html>
